<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <description>a System for Aligning and Merging Biomedical Ontologies</description>
    <display-name>SAMBO</display-name>
    <context-param>
        <param-name>FileOnServer</param-name>
        <param-value>/ontologies</param-value>
    </context-param>
    <context-param>
        <param-name>WordnetXML</param-name>
        <param-value>/config/wordnet.xml</param-value>
    </context-param>
    <context-param>
        <param-name>StopwordFile</param-name>
        <param-value>/config/stopwords</param-value>
    </context-param>
    <context-param>
        <param-name>Reasoner</param-name>
        <param-value>http://130.236.184.158:8080/</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <context-param>
        <param-name>Sessions</param-name>
        <param-value>/sessions</param-value>
    </context-param>
    <context-param>
        <param-name>Segment</param-name>
        <param-value>/segment</param-value>
    </context-param>
    <listener>
        <listener-class>se.liu.ida.sambo.ui.web.listener.ConfigListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <description>Load Ontology Files</description>
        <servlet-name>LoadFileServlet</servlet-name>
        <servlet-class>LoadFileServlet</servlet-class>
        <init-param>
            <description>Reasoning using Jena model</description>
            <param-name>JenaReasonServlet</param-name>
            <param-value>JenaReasonServlet</param-value>
        </init-param>
    </servlet>
        <servlet>
        <description>Test Load Ontology Files</description>
        <servlet-name>testLoadFileServlet</servlet-name>
        <servlet-class>testLoadFileServlet</servlet-class>
        <init-param>
            <description>Reasoning using Jena model</description>
            <param-name>JenaReasonServlet</param-name>
            <param-value>JenaReasonServlet</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>Handle a process</description>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>MainServlet</servlet-class>
    </servlet>
        <servlet>
        <description>Test Handle a process</description>
        <servlet-name>testMainServlet</servlet-name>
        <servlet-class>testMainServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Handle Slots</description>
        <servlet-name>SlotServlet</servlet-name>
        <servlet-class>SlotServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Handle Classes</description>
        <servlet-name>ClassServlet</servlet-name>
        <servlet-class>ClassServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Browse An Ontology</description>
        <servlet-name>BrowseServlet</servlet-name>
        <servlet-class>BrowseServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Reasoning using Jena model</description>
        <servlet-name>JenaReasonServlet</servlet-name>
        <servlet-class>JenaReasonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LockSessionServlet</servlet-name>
        <servlet-class>LockSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnLockSessionServlet</servlet-name>
        <servlet-class>UnLockSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoadSessionInfo</servlet-name>
        <servlet-class>se.liu.ida.sambo.session.LoadSessionInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewLoadSession</servlet-name>
        <servlet-class>NewLoadSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSessionServlet</servlet-name>
        <servlet-class>LoadSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadFileServlet</servlet-name>
        <url-pattern>/LoadFile</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>testLoadFileServlet</servlet-name>
        <url-pattern>/testLoadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/Main</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>testMainServlet</servlet-name>
        <url-pattern>/testMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SlotServlet</servlet-name>
        <url-pattern>/Slot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassServlet</servlet-name>
        <url-pattern>/Class</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrowseServlet</servlet-name>
        <url-pattern>/Browse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JenaReasonServlet</servlet-name>
        <url-pattern>/JenaReason</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LockSessionServlet</servlet-name>
        <url-pattern>/LockSessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnLockSessionServlet</servlet-name>
        <url-pattern>/UnLockSessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSessionInfo</servlet-name>
        <url-pattern>/LoadSessionInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewLoadSession</servlet-name>
        <url-pattern>/NewLoadSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSessionServlet</servlet-name>
        <url-pattern>/LoadSession</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>300</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/ErrorPage.jsp</location>
    </error-page>
</web-app>
